body{
    background-color: black;
}
.poster{
    text-align: center;
    width: 50%;
    color: white;
    margin-top: 100px;
    margin-left: 25%;
}
#motivation{
    border: 5px solid white;
}
p
{
    font-size: 20px;
}
h1{
    text-transform: capitalize;
}
